*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.main{
    background-color: #eff0f2;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img1{
    width: 8%;
    margin: 15px 0;
    cursor: pointer;
}
.header__img2{
    width: 3%;
    cursor: pointer;
}
.main_{
    text-align: center;
}
.main__h31{
    margin: 80px 0 0 0;
    color: #505050;
    font-weight: 700;
    font-size: 25px;
    text-shadow: 0px 0px 2px #505050;
}
.main__h31 span{
    background-color: #b2f2ee;
}
.main__h32{
    margin: 5px 0 60px 0;
    color: #505050;
    font-weight: 700;
    font-size: 25px;
    text-shadow: 0px 0px 2px #505050;
}
.main__h32 span{
    background-color: #b2f2ee;
}
.main_ input{
    color: #505050;
    width: 130px;
    height: 30px;
    font-size: 12px;
    margin: 0 0 100px 0;
}
.section1_h3{
    text-align: center;
    font-weight: 800;
    margin: 35px 0 5px 0;
}
.section1_p{
    text-align: center;
    color: #999999;
    font-family: cursive;
    margin-bottom: 50px;
}
.sec1__div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.sec1__mini1{
    width: 40%;
}
.sec1__mini1 img{
    width: 100%;
    cursor: pointer;
}
.sec1__mini2{
    width: 40%;
}
.sec1__mini2 h3{
    color: #3e3f3f;
    font-size: 18px;
    font-family: auto;
    font-weight: 800;
}
.sec1__mini2 p{
    color: #585858;
}
.sec1__h31{
    margin: 50px 0 15px 0;
}
.sec1__h32{
    margin: 25px 0 15px 0;
}
.section2{
    background-color: #f8fafa;
}
.sec2_{
    margin-bottom: 40px;
}
.sec2__div1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}
.sec2__mini{
    width: 32%;
}
.sec2__mini img{
    width: 100%;
    height: 100%;
}
.sec3__div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}
.sec3__mini{
    width: 30%;
    border: 2px solid grey;
    box-shadow: 0 0 15px 0 grey;
}
.sec3__mini img{
    width: 100%;
}
.section4{
    text-align: center;
}
.section4 img{
    width: 75%;
    margin: 40px 0 60px 0;
}
.section5{
    background-image: url(./image/sec6bcg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec5__div{
    width: 450px;
    background-color: #495862cc;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 30px;
}
.sec5__input1{
    padding-bottom: 5px;
    padding-left: 8px;
    margin-top: 30px;
    margin-bottom: 15px;
    width: 240px;
    background-color: #ffffff00;
    border-bottom: 1px solid #ffffff54;
    border-top: none;
    border-left: none;
    border-right: none;
}
.sec5__input2{
    padding-bottom: 5px;
    padding-left: 8px;
    margin-bottom: 15px;
    width: 240px;
    background-color: #ffffff00;
    border-bottom: 1px solid #ffffff54;
    border-top: none;
    border-left: none;
    border-right: none;
}
.sec5__input3{
    padding-bottom: 5px;
    padding-left: 8px;
    margin-bottom: 15px;
    width: 240px;
    background-color: #ffffff00;
    border-bottom: 1px solid #ffffff54;
    border-top: none;
    border-left: none;
    border-right: none;
}
.sec5__input4{
    padding-bottom: 5px;
    padding-left: 8px;
    margin-bottom: 60px;
    width: 240px;
    background-color: #ffffff00;
    border-bottom: 1px solid #ffffff54;
    border-top: none;
    border-left: none;
    border-right: none;
}
.sec5__input1::placeholder{
    color: white;
}
.sec5__input2::placeholder{
    color: white;
}
.sec5__input3::placeholder{
    color: white;
}
.sec5__input4::placeholder{
    color: white;
}
.sec5__input5{
    background-color: #6eeee4;
    border: none;
    font-size: 11px;
    font-weight: 600;
    width: 130px;
    height: 32px;
    margin-bottom: 25px;
}
.sec5__input5:hover{
    background-color: #92e1db;
    transition: all 0.5s ease;
}
.footer{
    background-color: #262b2e;
}
.footer_{
    text-align: center;
}
.footer_ h4{
    color: white;
    font-size: 13px;
    margin: 35px 0 15px 0;
    font-family: auto;
}
.footer_ img{
    cursor: pointer;
}
.footer_ p{
    color: #777a7c;
    margin: 20px 0 15px 0;
    font-size: 12px;
}